<html>
<header>
	<title>Email</title>
</header>
<body ng-app="exoDSI">
	<div ng-controller="EmailController">
		<input type="submit" value="Envoyer" ng-click="test()">
		<span>{[{compteur}]}</span>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript">

	var app = angular.module('exoDSI', []);

	// gére le conflit entre twig et angularjs concernant les doubles accolades 
	app.config(function($interpolateProvider) {
	    $interpolateProvider.startSymbol('{[{');
	    $interpolateProvider.endSymbol('}]}');
    });

	app.controller('EmailController', ['$scope', '$http', function($scope, $http){
		// Au chargement de la page on récupére le compteur
		$http.get('/app_dev.php/getcompteur').then(
			function(response){
				$scope.compteur = response.data.compteur;
			}, 
			function(response){
				console.log('error');
				console.log(response);
			}
		);

		// Action lorsque l'on clique sur envoyer
		$scope.test = (function(){
			$http.post('/app_dev.php').then(
				function(response){
					$http.get('/app_dev.php/getcompteur').then(
						function(response){
							$scope.compteur = response.data.compteur;
						}, 
						function(response){
							console.log('error');
							console.log(response);
						}
					);
				}, 
				function(response){
					console.log('error');
					console.log(response);
				}
			);
		});

	}]);

	</script>
</body>
</html>
